
/*
body header .container {
  
    width: 100%;
    height: 100%;
  



}

body header .container .navbar {
    width: 80%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    
}




body header .container .navbar .logos {
    width: 130px;
    cursor:default;
    color: white;
    text-decoration: none;

}


body header .container .navbar {
    width: 100%;
    height: 100%;
    display: flex;
 


}



body header .container .navbar  ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    position: relative;


}

body header .container .navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    
}

body header .container .navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(199, 64, 64);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

body header .container .navbar ul li:hover::before {
    width: 100%;
}

*/
/*----------------------navbar-------------------*/


/*mediaquerry*/

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;

    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgba(90, 40, 90, 0.80);
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }

    .nav-menu .nav-item {
        margin: 16px 0;
        font-size: 15px;
    }

    .nav-menu.active {
        left: 0;

    }

    .nav-branding {
        font-size: 20px;
    }

    .nav-branding .text-white {
        cursor: default;
        text-decoration: none;
        color: #fff;
        font-size: 20px;


    }


}
/*media query mobile first*/

@media screen and (max-width: 425px){

    /*
    .container .navbar {
       display: flex;
        justify-content: space-between;
    }


    .container .navbar ul a {
        font-size: 12px;
        display: flex;
        align-items: center;
        

    }


    .logos {
        display: flex;
        align-items: center;
        font-size: 20px;
       
    }

    .logos .text-white {
        display: flex;
        font-size: 300px;
        
    }
   */

   div .contenedor-card {
       
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;

   }




} 
@media screen and (max-width: 769px) and (min-width: 426px){
/*
    .container .navbar {
        display: flex;
         align-items: center;
         justify-content: center;
    }
    .logos {
        display: flex;
       justify-content: center;
        font-size: 18px;
    }

    
    .container .navbar ul a {
        font-size: 12px;
        display:flex;
       justify-content: center;
        
        

    }
*/
    div .contenedor-card {
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
 
    }

    /*mediaquery font menu
@media screen and (max-width: 768px) and (min-width: 500px){
    
    .container .navbar ul a {
    font-size: 17px;


    }




    
}

*/

/*MEDIA QUERY footer*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}




/*MEDIA QUERY screen*/

}
@media screen and (max-width: 1024px) and (min-width: 770px){

    .logos {
        display: flex;
       justify-content: center;
        font-size: 30px;
    }
    .container .navbar  ul li {
        display: flex;
        flex-direction: row;
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    .container .navbar ul a {
        font-size: 20px;
        display:flex;
        justify-content:space-around;
        margin: 0;
    
    
    
    
    
    }





div .contenedor-card {
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
    
    
    }



}




@media screen and (max-width: 1440px) and (min-width: 1025px){

    .logos {
        display: flex;
       justify-content: center;
        font-size: 35px;
    }

    
    .container .navbar ul a {
        font-size: 25px;
        display:flex;
        justify-content: center;
    
    
    
    
    
    }



    
    
    

}