body .container {
    /*hacer responsive*/
    width: 100%;
    height: 100%;



}

.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    
}




.container .navbar .logos {
    width: 130px;
    cursor: pointer;
    color: white;
    text-decoration: none;

}


.container .navbar {
    width: 100%;
    height: 100%;
    display: flex;
 


}



.navbar  ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;


}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(199, 64, 64);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;
}






/*media query mobile first*/

@media screen and (max-width: 425px){

    
    .container .navbar {
       display: flex;
        justify-content: space-between;
    }
    .container .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position:absolute;
        justify-content: flex-end;
        margin: 50%;
        font-size: small;
    }
    .container .navbar ul a {
        font-size: 15px;
        display: flex;
        align-items: flex-end;

    }


    .logos {
        display: flex;
        align-items: flex-start;
        
        
    }

    .logos .text-white {
        display: flex;
        font-size: 300px;
        
    }
   

   div .contenedor-card {
       
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;

   }




} 
@media screen and (max-width: 769px) and (min-width: 426px){

    .container .navbar {
        display: flex;
         align-items: center;
         justify-content: center;
    }
    .logos {
        display: flex;
       justify-content: center;
       font-size: 30px;
    
    }

    
    .container .navbar ul a {
        font-size: 15px;
        display:felx;
        justify-content: center;
        
        

    }

    div .contenedor-card {
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
 
    
}
}
@media screen and (max-width: 1024px) and (min-width: 770px){


div .contenedor-card {
       
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    
    
    
    }



}